.container-portfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.portfolio-archive-item{
	margin: $gutterWidth +px;

	img{
		display: block;
		width: 100%;
		max-width: 400px;
		height: auto;
		border: 3px solid $bc01;
		padding: $gutterWidth / 2 +px;
		border-radius: 10px;
		margin-bottom: $gutterWidth +px;
		transition: 0.5s;
	}

	h2{
		transition: 0.5s;
	}

	a{
		text-decoration: none;

	}

	&:hover{
		
		img{
			border: 3px solid white;
			box-shadow: 0px 0px 20px $bc01;

		}

		h2{
			color: white;
			text-shadow: 0px 0px 20px $bc01;
			

		}
		
	}

}