.contact{
	width: 100%;
}

.wpcf7{

	@include mq-min($tablet){
		width: 50%;
		margin-left: 50% !important;

	}
}
.wpcf7-form{
	//width: 50%;
	.wpcf7-form-control{
		margin-top: $gutterWidth /2 +px;
		padding: $gutterWidth /2 +px;
	}
	input, textarea{
		width: 100%;
		background-color: rgba($black, 0.1);
		border-radius: 10px;
		border-color: $bc01;
		color: $bc01;
	}

	input::-webkit-contacts-auto-fill-button{
		background-color: $bc01;
	}

	.wpcf7-not-valid-tip{
		text-align: right;
	}
	
	.wpcf7-validation-errors, .wpcf7-mail-sent-ok{
		width: 100%;
		padding: 20px;
		margin: 0;
		border-radius: $gutterWidth /2 +px;
		border-color: $error;
		color: $white;
	}
	.wpcf7-mail-sent-ok{
		border-color: $success;
	}
	
}
.wpcf7-submit{
	color: $white;
}