.portfolio{
	padding: $gutterWidth +px;

	img{
		display: block;
		width: 100%;
		max-width: 400px;
		height: auto;
		border: 3px solid $bc01;
		padding: $gutterWidth / 2 +px;
		border-radius: 10px;
		margin: 0 auto $gutterWidth +px;

	}

	ul{
		list-style-type: none;
		font-size: 20px;

		li{
			padding-bottom: $gutterWidth /2 +px;

		}
	}

	p{
		margin-bottom: $gutterWidth / 2 +px;
	}

	@include mq-min($tablet){
		display: flex;
		align-items: flex-start;
		
		.portfolio-content{
			flex-basis: auto;

		}

		img{
			order: 1;
			//flex-basis: 20%;
			//display: block;
			width: 33%;
			margin-left: $gutterWidth +px;
			flex-shrink: 0;
			
		}

	}

}

.back-button{
	a{
		font-size: 50px;
		color: $bc01;
		transition: 0.5s;

		&:hover{
			color: white;
			text-shadow: 0px 0px 20px $bc01;
			

		}

	}
	
}