// Variables
//==============================================================================

// DEBUG - highlight any potential markup / accessibility errors (true or False)
//==============================================================================

$debug-mode         : false;


// Box-sizing - border-box global?
//==============================================================================
// read paulirish.com/2012/box-sizing-border-box-ftw

$global-border-box  : true;


// Base Sizes - DO NOT CHANGE THESE
//==============================================================================

$base-font-size     : 16!default;
$base-line-height   : 25!default;


// Default Border Radius
//==============================================================================

$brand-round        : 4!default;


// Responsive Variables
//==============================================================================

$responsive         : true;
$lap-start          : 481;
$desk-start         : 1024;

$desktop            : 1024;
$tablet             : 768;
$fullWidth          : 600; // reset columns at


// Brand Variables
//==============================================================================


$fontAwesome        : fontAwesome;

$fontFace        	: Roboto, Arial, sans-serif!default;

$white              : #FFF;
$black	            : #000;

$light              : #FFF;
$dark	            : #000;
$lightgrey          : #EDE9E9;
$grey               : #B8B8C7;
$darkgrey           : darken($grey, 5%);

$bc01               : #FF6200; // base colour

$facebook           : #395998; 
$twitter            : #00ACEB; 
$linkedin           : #0079B9;
$google             : #D34836;  
$youtube            : #E52D27;

$success            : green;
$error              : red;
$warning            : yellow;
$info               : blue;

$hc                 : $dark;
$txtc               : #d3d3d3;
$inptclr            : $dark;

$bodyBg             : #353A40;

$inptbrdr           : $darkgrey;

$brandcolors        : $bc01;

$baseLocation       : '../';



// Grid Variables
//==============================================================================

$columns            : 24!default;
$gutterWidth        : 20!default;
$siteWidth          : 1240;


// logo SVG Width & height 
//==============================================================================

$logoWidth          : 260;
$logoHeight         : 47;