*, html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@if $global-border-box == true {
    /**
    * Let’s make the box model all nice, shall we…?
    */
    * {
        &,
        &:before,
        &:after {
            box-sizing: border-box;
        }
    }
}