// Helpers
//==============================================================================
// Small common style for quick content manipulation


// Quick Floats
//==============================================================================
// .alignright, .alignleft wordpress defaults
.fl, .alignleft { float: left; display: inline; }
.fr, .alignright { float: right; display: inline; }

.alignleft { margin: 0 $gutterWidth +px $gutterWidth +px 0 }
.alignright { margin: 0 0 $gutterWidth +px $gutterWidth +px }
.aligncenter { display: block; margin: 5px auto; }


// Toggling Content
//==============================================================================
.hide, .show-md, .js-hide  { display: none; }
.show, .hide-md, .hide-lg, .hide-mdlg, .no-js .js-hide { display: block; }

@include mq-min($tablet + 1) {
    .hide-md {
        display: none;
    }
    .show-md {
        display: block;
    }
}

@include mq-min($desktop + 1) {
    .hide-lg {
        display: none;
    }
}

@include mq-mm($tablet + 1,$desktop) {
    .hide-mdlg {
        display: none;
    }
}

.hidden { position:absolute; top:-99999px; left:0; }
.invisible { visibility: hidden; }
.sr-only{ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }


// Image replacement
//==============================================================================
.ir { text-indent: -5000px; display: block; }


// Display Settings (block, inline, and inline block and inline block fall back)
//==============================================================================
.inline-block { display: inline-block; zoom: 1; *display: inline; }
.block { display: block; }
.inline { display: inline; }


// Images
//==============================================================================
img.center { display: block; margin:0px auto; }

// Position Elements
//==============================================================================
.rel { position:relative; }


//remove style from list
//==============================================================================
.no-style { list-style: none; padding: 0; margin: 0; }


// Margin Helpers
//==============================================================================
.m0  { margin           : 0; }
.mt0 { margin-top       : 0; }
.mr0 { margin-right     : 0; }
.mb0 { margin-bottom    : 0; }
.ml0 { margin-left      : 0; }

.marg { margin          : $gutterWidth +px; }
.mt { margin-top        : $gutterWidth +px; }
.mr { margin-right      : $gutterWidth +px; }
.mb { margin-bottom     : $gutterWidth +px; }
.ml { margin-left       : $gutterWidth +px; }
.marg-auto { margin     : $gutterWidth +px auto $gutterWidth +px auto; }



// Padding helpers
//==============================================================================
.pad0 { padding         : 0; }
.padt0 { padding-top    : 0; }
.padr0 { padding-right  : 0; }
.padb0 { padding-bottom : 0; }
.padl0 { padding-left   : 0; }

$sizes: xs 0, md $tablet+1, lg $siteWidth+1;
@each $size in $sizes {
    @include mq-min(nth($size, 2)) {
        @each $padding in 0, 10, 20, 25, 30, 40, 50, 60, 70, 80, 100, 120 {
            .padlr-#{$padding}-#{nth($size, 1)} {
                padding-left: $padding+px;
                padding-right: $padding+px;
            }
            .padtb-#{$padding}-#{nth($size, 1)} {
                padding-top: $padding+px;
                padding-bottom: $padding+px;
            }
            .padr-#{$padding}-#{nth($size, 1)} {
                padding-right: $padding+px;
            }
            .padb-#{$padding}-#{nth($size, 1)} {
                padding-bottom: $padding+px;
            }
            .padl-#{$padding}-#{nth($size, 1)} {
                padding-left: $padding+px;
            }
        }
    }
}

.padt { padding-top     : $gutterWidth +px; }

// Typography
//==============================================================================

// Text Transform
.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }

// Style
.bold, .strong, .em { font-weight: bold; font-style: normal; }
.italic { font-style: italic; }
.underlined { text-decoration: underline; }

// Size
.small { font-size: 0.7em; font-weight: normal; }
.big { font-size: 1.3em; font-weight: normal; }

// Alignment
.tr { text-align: right; }
.tc { text-align: center; }
.tl { text-align: left; }
.indent { margin-left: $gutterWidth +px; }

.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }


// Border Radius
//==============================================================================
@each $radius in 5, 10, 15, 20 {
    .br#{$radius} {
        border-radius: $radius+px;
    }
    .brtop#{$radius} {
        border-radius: $radius+px;
    }
    .brbottom#{$radius} {
        border-radius: $radius+px;
    }

    // Tablet up
    @include mq-min($tablet) {
        .br#{$radius}#{-md} {
            border-radius: $radius+px;
        }
        .brtop#{$radius}#{-md} {
            border-radius: $radius+px;
        }
        .brbottom#{$radius}#{-md} {
            border-radius: $radius+px;
        }
    }
    // Desktop up
    @include mq-min($desktop) {
        .br#{$radius}#{-ld} {
            border-radius: $radius+px;
        }
        .brtop#{$radius}#{-ld} {
            border-radius: $radius+px;
        }
        .brbottom#{$radius}#{-ld} {
            border-radius: $radius+px;
        }
    }
}

// Background Colour
//==============================================================================
$i: 1;
@each $color in $brandcolors {
    .bc0#{$i} {
        background-color: $color;
    }
    .bc0#{$i}#{-d12} {
        background-color: darken($color, 12%);
    }
    .bc0#{$i}#{-l14} {
        background-color: lighten($color, 14%);
    }
    $i: $i + 1;
}

.bcwhite {
    background-color: $white;
}

.bcblack {
    background-color: $black;
}

