// Mixins
//==============================================================================

// PX to EM Function 
//==============================================================================
//font-size: em(32);
$browser-context: $base-font-size; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

// Viewport width / height function 
//==============================================================================

//width: get-vw(20);
@function get-vw($object) {
    $px: $object * 1px;
    $vw: (1920 * 0.01) * 1px;
    @return ($px / $vw) * 1vw;
}

// height: get-vh(20);
@function get-vh($object) {
    $px: $object * 1px;
    $vh: (960 * 0.01) * 1px;
    @return ($px / $vh) * 1vh;
}

// VW based on Site Width 
// width: get-swvw(20);
@function get-swvw($object) {
    $px: $object * 1px;
    $vw: ($siteWidth * 0.01) * 1px;
    @return ($px / $vw) * 1vw;
}


@mixin padding($media-size, $padding) {
    @media only screen and (max-width:$media-size +px) {
        padding: 0 $padding +px;
    }
}

// Simplified Media Queries
//==============================================================================
@mixin mq-max($media-size){
    @media only screen and (max-width:$media-size +px) { @content; }
}

@mixin mq-min($media-size){
    @media only screen and (min-width:$media-size +px) { @content; }
}

@mixin mq-mm($media-sizemin, $media-sizemax){
    @media only screen and (min-width:$media-sizemin +px) and (max-width:$media-sizemax +px) { @content; }
}

// RGBA Mixin
//==============================================================================

@mixin rgba($color, $opacity: 0.9) {
    background: $color;
    background: rgba($color, $opacity);
}


// Font-Size
//==============================================================================
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
@mixin font-size($font-size) {
    font-size: $font-size +px;
    font-size: $font-size / $base-font-size +rem;
}


// CSS truncate
//==============================================================================
/**
 * Force overly long spans of text to truncate, e.g.:
 *
   `@include truncate(100%);`
 *
 * Where `$truncation-boundary` is a united measurement.
 */
@mixin ellipsis($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

