@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'FontAwesome';
//     src: url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff');
//     //font-weight: normal;
//     font-style: solid;

// }

// @font-face {
//     font-family: 'tex_gyre_adventor';
//     src: url('../fonts/texgyreadventor/texgyreadventor-regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'tex_gyre_adventor';
//     src: url('../fonts/texgyreadventor/texgyreadventor-italic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;

// }

// @font-face {
//     font-family: 'tex_gyre_adventor';
//     src: url('../fonts/texgyreadventor/texgyreadventor-bold-webfont.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'tex_gyre_adventor';
//     src: url('../fonts/texgyreadventor/texgyreadventor-bolditalic-webfont.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;

// }