footer{
	border-top: 3px ridge $bc01;
	box-shadow: inset 0px 17px 17px 0px rgba(0, 0, 0, 0.26);
	padding: 0 $gutterWidth +px;

	@include mq-min($tablet){
		padding: 0 $gutterWidth * 2 +px;

	}

	.main_footer{
		max-width: $desktop +px;
		margin: $gutterWidth +px auto;
		text-align: center;

		@include mq-min($tablet){
			display: flex;
			align-items: center;
			text-align: left;

		}

		.footer_contact{
			flex: 2.5;

		}

		.footer_logo{
			flex: 1 auto;
			
			.header_logo{
				display: block;
				width: 140px;
				margin: 0 auto $gutterWidth +px;

				@include mq-min($tablet){
					margin: 0;

				}

			}

		}

	}

	.footer_logos{
		margin: $gutterWidth * 2 +px 0 $gutterWidth +px;

		@include mq-min($tablet){
			margin: $gutterWidth +px 0;
		}
		
	}

}