.header{
	border-bottom: 3px ridge $bc01;
	box-shadow: inset 0px -17px 17px 0px rgba(0, 0, 0, 0.26);
	padding: $gutterWidth +px;

	@include mq-min($tablet){
		padding: $gutterWidth +px $gutterWidth * 2 +px;

	}

}


.header_container{
	max-width: $desktop +px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include mq-min($tablet){
		margin: 0 auto;
	}

}

.header_logo{
	display: block;
	width: 130px;
	height: auto;
	
}

