body{
	background-color: $bodyBg;
	font-family: $fontFace;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

.main_container{
	min-height: 784px;
	padding: $gutterWidth +px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	//display: flex;
	margin: auto 0;

	@include mq-min($tablet){
		padding: $gutterWidth * 2 +px;

	}

}

.wrapper{
	max-width: $desktop +px;
	margin: auto;
	background-color: rgba(16, 16, 16, 0.73);
	border-radius: 10px;
	padding: $gutterWidth +px;
	
}