//main menu

.nav_container{
	@include mq-max($tablet - 1){
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		text-align: center;
		left: 100%;
		background-color: $bodyBg;
		display: flex;
		transition: 0.2s;
		z-index: 1;
		justify-content: center;

	}

	.nav{
		//margin: auto;
		align-self: center;
	}

	li{
		list-style-type: none;
		display: block;
		//margin: auto;
		

		@include mq-min($tablet){
			display: inline-block;
			margin: 0;
			padding: 0;
			
		}	

	}

	a{
		display: block;
		text-decoration: none;
		font-size: 26px;
		margin-left: $gutterWidth +px;
		color: $bc01;
		line-height: 2;
		transition: 0.5s;

		&:hover{
			color: white;
			text-shadow: 0px 0px 20px $bc01;
			
		}
			
		&:last-child{
			margin-right: 0;
			padding-right: 0;

		}

	}
	
	@include mq-min($tablet){
		display: block;

	}

}

//mobile menu button

.menu_toggle{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	position: relative;
	z-index: 1;

	&:before{
		content: "\f0c9";
		font-family: 'Font Awesome 5 Free';
		position: absolute;
		height: 100%;
		width: 100%;
		font-size: 40px;
		font-weight: 900;
		color: $bc01;
		top: 0;
		text-align: right;

	}

	@include mq-min($tablet){
		display: none;

	}

}


// toggle navigation button on click

#menu_checkbox:checked ~ .nav_container{
	left: 0;
}

#menu_checkbox:checked ~ .menu_toggle{

	&:before{
		content: "\f00d";
		font-family: 'Font Awesome 5 Free';
		position: fixed;
		top: 36px;
		right: 24px;
		height: 36px;
		width: 24px;
	}
}