// Typography
//==============================================================================


// Links
//==============================================================================
a {
    //color: $white;
    //@include link(1, $white, $bc01, darken($bc01,10%), 0, 0, 1);
    &[href*="tel"] {
        color: inherit;
    }
}

.general_link{
    text-decoration: none;
    color: $bc01;
    &:hover{
        color: lighten($bc01, 10%);
    }
}

// Headers
//==============================================================================
// Heading sizes set in ../defaults/base/headings

.alpha, .beta, .gamma, .delta, .epsilon, .zeta,
h1, h2, h3, h4, h5, h6 {
    color:  $bc01;
    //font-family: $fontFace;
}

.alpha, h1 {
    @include font-size(36);
    font-weight: 500;
    @include mq-min($tablet) {
        @include font-size(50);
    }
}

.beta, h2 {
    @include font-size(30);
    margin-bottom: $gutterWidth / 2 +px;
}

.gamma, h3 {

}

.delta, h4 {
  
}

.epsilon, h5 {

}

.zeta, h6 {

}


// Paragraphs
//==============================================================================

p {
    color: $txtc;
    line-height: 1.35;
    font-size: 25px;
    margin-bottom: $base-line-height +px;

    &:last-child {
        margin-bottom: 0;
    }
}

b {

}

address {

}

blockquote {
    
}

cite {
    
}

// Text Helpers (more helpers in ../defaults/generic/helpers.scss)
//==============================================================================

// Color
.white { color: $white; }
.black { color: $black; }

$i: 1;
@each $color in $bc01/* , $bc02, $bc03, $bc04, $bc05 */ {
    .c0#{$i} {
        color: $color;
    }
    $i: $i + 1;
}

// fontawesome
.fab{
    font-size: 60px;
    margin: 0 $gutterWidth / 2 +px;
}
